html, body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom, #37667c, #37667c);
}


ul{
    list-style-type: none;
    padding: 0;
    margin:0;
}

a{
    text-decoration: none;
}

header{
    background-color: #fff;
}

h1{
    font-weight: normal;
    font-size: x-large;
    color: #444;
}

input:hover, input:focus{
    outline: none;
    box-shadow: none;
}

.btn {
    padding: 10px 15px;
    border: 1px solid #777;
    background-color: transparent;
    color: #444;
}

.btn:hover, .btn:focus{
    outline: none;
    box-shadow: none;
}

.btn-rounded{
    border-radius: 25px;
}

.btn-rounded:before{
    content: ' ';
    height: 10px;
    width: 10px;
    border: 1px solid #00ff00;
    border-radius: 50%;
    display: block;
    margin-right: 5px;
    float:left;
    background-color: #00ff00;
}

.btn-circle{
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 5% 0 5%;
}

.menu-container{
    min-width: 200px;
    background-color: #2d3747;
    border-right: 1px solid #656e7b;
    flex-grow: 1;
}

.dp-container{
    text-align: center;
    padding: 30px 0;
}

.dp-container h2{
    color: #fff;
    font-weight: normal;
    font-size: small;
}

.dp{
    width: 80px;
    height: 80px;
    border-radius: 60px;
}

.dashboard-container{
    background-color: #ecf2f6;
    flex-grow: 90;
}

/* Left Menu Component */

.menu-container ul{
    background-color: #354052;
    margin: 4px 0;
    padding: 10px 0;
}

.menu-container ul h4{
    color: #697891;
    margin: 0;
    padding: 20px;
    font-size: small;
}

.menu-container ul li a{
    color: #a0abbe;
    font-size: small;
    text-transform: uppercase;
    display: block;
    padding: 10px 20px;
    border-left: 3px solid transparent;
}

.menu-container ul li a:hover, .menu-container ul li.active a{
    background-color: #2e3948;
    color: #ffffff;
    border-left-color: #12abff;
}

.menu-container ul.categories li a{
    text-transform: capitalize;
    font-size: small;
    font-weight: bold;
}

.menu-container ul.categories li a:hover, .menu-container ul.categories li.active a{
    background-color: transparent;
    color: #a0abbe;
    border-left-color:transparent;
}

.dp-container{
    background-color: #354052;
}

/* End of left menu component */

/* Dashboard Component */

/* Navigation */

nav ul{
    display: flex;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    color: #777;
}

nav a{
    display: block;
    padding: 15px 0;
    text-align: center;
    color: #777;
}


nav a:hover{
    display: block;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    background-color: #14a4fa;
}

nav li{
    border-right: 1px solid #ddd;
    flex-grow: 1;
}

nav li.searchbox{
    padding: 15px;
    flex-grow: 15;
}

nav li.searchbox input{
    width: 80%;
    padding: 0 10px;
    border: 1px solid transparent;
}

/* End of Navigation */

/* Heading */

.heading-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
}

.heading{
    font-size: small;
}
.extra-dot{
    position: relative;
    display: inline-block;
    padding-left: 10px;
}
.extra-dot:before{
    content: '.';
    font-size: 18px;
    position: absolute;
    top: -7px;
    left: 0;
}

/* End of heading */

/* Secondary Menu */

nav.menu-secondary ul{
    margin-top: 20px;
    border: none;
    display: block;
    margin-left: 5%;
}

nav.menu-secondary li{
    border:none;
    display: inline-block;
    margin-right: 10px;
}

nav.menu-secondary a{
    font-size: small;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding: 10px 0;
}

nav.menu-secondary a:hover, nav.menu-secondary li.active a{
    color: #000;
    border-bottom: 2px solid #14a4fa;
    background-color: #fff;
}

/* Secondary Menu */

/* chart section */

.section-chart{
    margin: 5%;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
    display: flex;
    justify-content: space-between;
}

/* Circular chart */

/*  Two half disks are used to show the progress
    The first disk is used to show the progress upto 50%
    And the second disk is used to show progress either from 0% - 50% or 50%-100%

    100% ---> 360deg
    1%   ---> 3.6deg

    Let we need to represent p%
    if p < 50%:
        1st colored half-disk with no transform
        2nd nutral half-disk (colored same as background) with rotation transform (3.6 * p)deg
    elif p > 50%:
        1st colored half-disk with no transform
        2nd colored half-disk with rotation transform (3.6 * (p - 50))deg
    else:
        1st colored half-disk only
 */

.circular-chart-container{
    display: flex;
    margin-bottom: 60px;
}

.circular-chart-out{
    height: 120px;
    width: 120px;
    position: relative;
    background-color: #d9e4eb;
    border: 1px solid #d9e4eb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background-color: #d9e4eb;
    z-index: 1;
    margin-right: 10px;
}

.progress{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 10;
    border-radius: 60px;
    transition: transform 1s ease-in-out;
}

.progress.green{
    background-image: linear-gradient(to right, #46b9c0 0%, #46b9c0 50%, transparent 50%, transparent 100%);
}

.progress.skyblue{
    background-image: linear-gradient(to right, #14a4fa 0%, #14a4fa 50%, transparent 50%, transparent 100%);
}

.progress.purple{
    background-image: linear-gradient(to right, #ae69ae 0%, #ae69ae 50%, transparent 50%, transparent 100%);
}
.progress.nutral{
    background-image: linear-gradient(to right, #d9e4eb 0%, #d9e4eb 50%, transparent 50%, transparent 100%);
}


.circular-chart-in{
    height: 100px;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 50px;
    background-color: #ecf2f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #444;
    font-size: smaller;
    font-weight: bold;
    z-index: 20;
}
.circular-chart-in .small{
    font-size: xx-small;
}

.circular-chart-in .number{
    font-size: x-large;
}
/* end of Circular chart */

/* Barchart */
.barchart-container{
    width: 50%;
}

.x-axis{
    margin-left: 50px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.x-axis span{
    display: inline-block;
    font-size: x-small;
    font-weight: bold;
    width: 10px; /* Same size of a single bar */
}

.y-axis{
    position: absolute;
    width: 50px;
    font-size: small;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;
    height: 150px;
}

.bars{
    margin-left: 50px;
}

.bars-wrapper{
    display: flex;
    justify-content: space-evenly;
}


.bar{
    background-color: #d9e4eb;
    width: 10px;
    height: 150px;
    display: inline-block;
    position: relative;
}

.fill{   
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    transition: all 600ms ease-in-out;
    background-color: #47bac1;
    border: 1px solid #47bac1;
    border-radius: 2px;
}

.fill:hover{
    background-color: #36a8af;
}

/* End barchart */

.btn-hide{
    position: absolute;
    bottom: -15px;
    left: 45%;
    background-color: #fff;
    color: #777;
    height: 30px;
    width: 30px;
    font-size: small;
}

/* End of chart section */

/* Description section */

.section-description{
    display: flex;
    margin: 5%;
    justify-content: space-between;
}

.tbl{
    width: 60%;
    flex-grow: 1;
}

.title{
    background-color: #6f7d95;
    padding: 3px 25px;
    border: 1px solid #6f7d95;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.title h4{
    display: inline-block;
    font-size: small;
    text-transform: uppercase;
    color: #fff;
    margin-right: 10px;
}

.btn-edit{
    padding: 5px 10px;
    font-size: small;
    background-color: #7b8aa6;
    box-shadow: 0 1px 0 #333;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #7b8aa6;
    border-radius: 3px;
}

.tbl .data-container{
    background-color: #fff;
    padding: 0 3%;
}

.data-container > ul > li{
    display: flex;
    align-items: flex-start;
    font-size: small;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.data-container > ul > li:last-child{
    border-bottom: none;
}

li .key, li .value{
    display: inline-block;
}

li .key{
    width: 25%;
    color: #999;
    font-weight: bold;
    text-transform: uppercase;
    font-size: smaller;
}
li .value{
    width: 75%;
    color: #777;
    padding-left: 10px;
}

li .value *{
    display: inline-block;
    vertical-align: middle;
}

.dp-small{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.external-activities{
    flex-grow: 1;
    margin-left: 5%;
    max-width: 250px;
}

.external-activities li{
    margin-bottom: 15px;
    font-size: small;
}

.external-activities h4{
    color: #6f7a8b;
}

.external-activities p{
    color: #aaa;
}

.external-activities li a{
    display: block;
    padding: 12px 10px; 
    border-radius: 3px;
    font-size: small;
}

.external-activities li.bordered{
    padding: 0 0 20px 0;
    border-bottom: 1px solid #aaa;
}

.external-activities li.bordered:last-child{
    border-bottom: none;
}

.copybox{
    display: flex;
    border-radius: 3px;
}

.input-wraper{
    padding: 10px 7px 10px 12px;
    background-color: #fff;
    width: 100%;
    border-radius: 3px;
}

.input-wraper input{
    width: 100%;
    border: 1px solid transparent;
    color: #777;
}

.btn-copy{
    background-color: #47bac1;
    color: #fff;
    font-size: small;
    border: 1px solid #47bac1;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* End of description section */

/* Color components (Always overwrite) */

.txt-yellow{
    color: #ffd507;
}
.txt-skyblue{
    color: #2aafff;
}
.txt-pink{
    color: #e81860;
}
.txt-green{
    color: #00aa8a;
}

.txt-gray{
    color: #777;
}

.facebook{
    background-color: #4a70c1;
    color: #fff;
}

.twitter{
    background-color: #00a9ef;
    color: #fff;
}

.linkedin{
    background-color: #027ebb;
    color: #fff;
}
/* End of color component */