@keyframes slideRight {
    from{left: 90%;}
    to{left:99%;}
}

html,body{
    margin: 0;
}

.navigation ul{
    list-style-type: none;
    background-color:#F2E1D1;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navigation h2{
    margin:0 15px;
    padding: 5px 0 15px 15px;
    border-bottom: 1px solid #ddd;
}

.navigation > ul > li{
    display: inline-block;
    position: relative;
}
.navigation li a{
    text-decoration: none;
    color: #000;
    display: block;
    padding: 15px;
    margin-right: 10px;
}
.navigation li > a::after{
    content: '\f107';
    font-family: FontAwesome;
    padding-left: 5px;
    color: #999;
}

.navigation li .submenu-container{
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px 0;
    top: 55px;
    left: 20%;
    display: none;
    box-shadow: 0 0 5px #aaa;
}

.navigation li:hover .submenu-container{
    display: block;
}

.navigation li ul.submenu{
    background-color: #fff;
    padding: 0;
    width: 320px;
    margin-top: 9px;
}

.navigation li ul.submenu li{
    display: block;
}

.submenu-wraper{
    position: relative;
    width: 320px;
}

.navigation li ul.submenu li > a::after{
    content: '\f105';
    font-family: FontAwesome;
    padding-left: 5px;
    position: absolute;
    right: 15px;
}
.navigation li ul.submenu li > a{
    border-left: 4px solid transparent;
    padding: 15px;
}

.navigation li ul.submenu li > a:hover{
    border-left: 4px solid #6165A5;
    background-color: rgba(97, 102, 165, 0.068);
}

.navigation li ul.submenu li .child{
    position: absolute;
    left: 99%;
    width: 320px;
    top: -21px;
    bottom: -21px;
    border: 1px solid #ddd;
    border-left: none;
    display: none;
    background-color: #fff;
    box-shadow: 5px 0 5px #aaa;
}

.navigation li ul.submenu li:hover .child{
    display: block;
    animation: slideRight 300ms 1;
}

.child-text-wraper{
    padding: 10px;
    position: absolute;
    top: 20px;
    bottom: 20px;
    border-left: 1px solid #ddd;
}

.child-text-wraper a{
    padding: 0;
    font-weight: bold;
    font-size: 16px;
}

.notch-up{
    height:0;
    width:0;
    border-bottom: 20px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top: -20px;
    left: 15px;
}