/* Common styling */

html,body{
    margin:0;
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

input:hover, input:focus, select:hover, select:focus, button:hover, button:focus{
    outline: none;
    box-shadow: none;
}

/* End of common styling */

/* Buttons */

.btn{
    color: #747474;
    padding: 12px 25px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
}
.btn-bordered{
    background: transparent;
    border: 2px solid #747474;
}
.btn-bordered:hover{
    background-color: #00c8c8;
    border-color: #00c8c8;
    color: #fff;
    transition: all 600ms ease;
}
/* End of buttons */

/* Header */
nav.top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.currency-box{
    padding: 10px 0 0 10px;
}

nav.top select{
    background-color: transparent;
    border: 1px solid transparent;
    color: #94858a;
}

nav ul{
    display: block;
    margin:0;
    padding:0;
}

nav.top ul{
    width: 100%;
}

nav li{
    display: inline-block;
}

nav a{
    display: block;
    padding:15px 10px;
    font-size: small;
}

nav a:hover{
    color: #03cbc8;
}

li.active a, nav.top a:hover{
    background-color: #00c8c8;
    color: #fff;
}

li.cart{
    float: right;
    margin-left: 30px;
}

.primary-menu-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.company-title{
    font-size: 20px;
    padding: 10px 0 10px 10px;
}

.primary-navigation ul{
    display: none;
}

.primary-menu-container li{
    display: block;
    position: relative;
}
.primary-menu-container a{
    font-weight: 700;
}
.primary-menu-container a > span{
    display: block;
}
.submenu{
    display: none;
    padding-bottom: 20px;
    background-color: #fff;
}

.submenu li a{
    text-transform: capitalize;
    font-size: small;
    font-weight: 400;
    padding: 7px 0 7px 9px;
}
.submenu h2{
    padding-left: 10px;
    font-size: medium;
    text-transform: uppercase;
}
.submenu ul{
    margin-bottom:30px;
}
.submenu-offer{
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    font-size: 32px;
    padding: 25px 0;
    text-align: center;
}
.submenu-offer strong{
    display: block;
}
.primary-navigation:hover ul{
    display: block;
}

.primary-menu-container li:hover .submenu{
    display: block;
}

.primary-menu-container a{
    color: #333;
    text-transform: uppercase;
}

.mobile-menu{
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: 10px;
    right:10px;
    width: 20px;
    height: 40px;
}

.searchbox{
    padding: 3px;
    border: 1px solid #333;
    font-size: small;
    background-color: #fff;
}

.search-wraper{
    display: inline-block;
    vertical-align: middle;
}
.searchbox input{
    width: 100%;
    border: 1px solid transparent;
    font-size: small;
}
.searchbox span{
    width:20px;
    float: right;
}
@media (min-width: 768px){
    nav ul{
        display: inline-block;
    }
    nav.top ul{
        width:auto;
    }
    .currency-box{
        padding: 0;
    }
    .mobile-menu{
        display: none;
    }
    .primary-menu-container{
        width:90%;
        padding:15px 5%;
        flex-direction: row;
        position: absolute;
    }
    .primary-menu-container.bg{
        background-color: #f8f8f8;
    }
    .primary-menu-container li{
        display: inline-block;
        vertical-align: top;
    }

    .primary-menu-container li .submenu{
        position: absolute;
        z-index: 10;
    }
    .primary-navigation{
        display: inline-block;
        vertical-align: middle;
    }
    .primary-navigation ul{
        display: inline-block;
    }

    .submenu{
        width: 360px;
        padding: 20px;
        box-shadow: 0 10px 10px rgba(0,0,0, 0.3);
    }

    .submenu-wraper{
        display: flex;
        justify-content: space-between;
    }
    .submenu ul{
        display: inline-block;
        width: 45%;
    }
    .submenu li{
        display: block;
    }

    .searchbox{
        width: 180px;
        margin-left: 40px;
        display: inline-block;
        vertical-align: middle;
    }
    .search-wraper{
        width: 155px;
    }

}

/* End of Header */

/* Section Banner */
.section-banner{
    background-image: url('../images/photo.png');
    background-size: cover;
    background-position: top center;
    text-align: right;
}
.txt-large-container{
    display: flex;
    width: 100%;
    min-height: 200px;
    justify-content: space-evenly;
    align-items: center;
}
.txt-large{
    display: inline-block;
    font-size: 128px;
    font-weight: 700;
    color: #575153;
}

.shop-btn-container{
    position: relative;
}

.btn-shop{
    position: absolute;
    right: 1%;
    bottom: 5px;
    padding: 10px;
}
@media (min-width: 768px){
    .txt-large-container{
        min-height: 600px;
    }
    .txt-large{
        font-size: 278px;
    }
    .btn-shop{
        right: 18%;
        bottom:100px;
        padding: 12px 15px;
    }
}
/* End of section banner */

/* Section products */

.categories-container{
    overflow: auto;
}
ul.categories{
    display: flex;
    margin:0;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}
.categories li{
    display: inline-block;
    flex-shrink: 0;
}
.categories a{
    color: #6f6f6f;
    text-transform: uppercase;
    font-size: small;
    display: block;
    padding: 10px 15px;
    font-weight: 700;
}
.categories li.active a, .categories li a:hover{
    color: #00c8c8;
}

.products{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products .item{
    display: block;
    margin: 10px 0;
    position: relative;
}

.img-product{
    width: 100%;
}

.products .col-half, .products .col{
    width: auto;
}

@media (min-width: 768px){
    .section-products{
        padding: 20px 5%;
    }
    .products{
        flex-direction: row;
    }
    .products .item{
        display: inline-block;
    }

    .products .col-half, .products .col{
        width: 49%;
    }
    .products .col{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .products .col-full{
        width: 100%;
    }
}
/* End of section products */

/* Section qucklinks */
.section-lookbook{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lookbook{
    width: 100%;
    position: relative;
}
.lookbook img{
    width: 100%;
}
.lookbook-txt{
    position: absolute;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.8);
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.lookbook h2{
    text-transform: uppercase;
    font-weight: 300;
    font-size: xx-large;
}
.lookbook-txt p{
    font-size: small;
    color: #333;
}
.lookbook strong{
    display: block;
}
.btn-view{
    margin-top: 20px;
}
@media (min-width: 768px){
    .section-lookbook{
        flex-direction: row;
    }
    .lookbook{
        width: 49%;
    }
    .lookbook-txt{
        left:40%;
        right: 0;
        top:10%;
        padding-right: 25px;
        background-color: transparent;
    }
}

@media (min-width: 1024px){
    .lookbook{
        width: 32%;
    }
}

/* End of quicklinks */

/* Spaceing components */

@media (min-width: 768px){
    .side-padding{
        padding: 0 10%;
    }
    .side-margin-half{
        margin: 0 5%;
    }
}
/* ENd of spacing components */

/* Color asset */
.seagreen{
    background-color: #00c8c8;
}
.dark{
    background-color: #333333;
}
.txt-seagreen{
    color: #03cbc8;
}

.small-menu-text{
    color: #747474;
}

.txt-dark, .txt-dark a{
    color:#94858a;
}

.txt-quicklink{
    color:#7d7d7d;
}
/* End of color asset */

/* Clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }